<div class="aboutus-row">
    <div class="ab-common-row text-justify">
        <h3 style="width: 100%;">Bliv en del af UniNoter</h3>
        <span><b>- og få let og sikker adgang til andre studerendes noter</b></span>
        <p></p>
        <p>
            Uninoter er et nyt digitalt fællesskab, hvor studerende hurtigt og ubesværet deler noter med
            hinanden. UniNoter er for alle studerende på tværs af landet, uddannelsesinstitutioner, fag og
            semester. UniNoter er gratis og enkelt at anvende.
        </p>
        <p class="mb-0">
            <i>
                Formålet med UniNoter? - Det er egentlig ret enkelt! At hjælpe studerende til at klare sig så godt som
                muligt ved at stille en platform til rådighed, hvor studerende gratis kan dele og få adgang til noter af
                god kvalitet.
            </i>
        </p>
        <p class="text-right">
            <i><b>-STIFTER AF UNINOTER, SHAKIB BA-ALI.</b></i>
        </p>

        <!-- Is UniNoter something for you? -->
        <strong>Er UniNoter noget for mig?</strong>
        <p>
            Måske? Du er i hvert fald mere end velkommen! UniNoter er et åbent fællesskab, hvor du kan komme og gå, som
            det passer dig.
        </p>
        <p>
            UniNoter er for dig, der er træt af at bruge unødvendig lang tid på at surfe nettet tyndt efter gode noter.
            For så at opdage, at du lige har spildt to timer på at finde halvdårlige noter, som du skal betale for!
        </p>
        <p>
            UniNoter er for dig, der lærer ved at dele viden, forståelser og antagelser med andre. Dig, der er nysgerrig
            på andres arbejde og ikke er bange for at dele ud af dig selv ved at dele dine noter med andre.
        </p>
        <p>
            UniNoter er for dig, som af den ene eller anden grund missede en til flere lektioner, ikke var nærværende
            nok eller bare ”glemte” at skrive noter.
        </p>
        <p class="mb-0">
            <i>
                Jeg er medicinstuderende. Mit netværk er begrænset, og jeg kender ikke nogen ældre studerende. Derfor
                har jeg brugt meget tid på at lede efter gode noter på nettet. Ofte endte jeg med at bruge flere timer
                på at finde frem til middelmådige noter. På et tidspunkt fik jeg nok. Og så gik jeg i gang med at
                udvikle UniNoter. Fordi jeg synes, alle bør have lige adgang til viden.
            </i>
        </p>
        <p class="text-right">
            <i><b>-STIFTER AF UNINOTER, SHAKIB BA-ALI.</b></i>
        </p>

        <!-- Can I find study notes, which matches my needs?  -->
        <p><strong>Kan jeg finde noter, der matcher mit behov?</strong></p>
        <p>
            På UniNoter kan du dele og finde noter fra andre studerende – helt gratis. Noter på UniNoter er manuelt
            godkendte i forhold til ophavsrettigheder og copyright. Herefter er de kategoriseret indenfor nedenstående
            kategorier, så du nemt kan finde præcis de noter, du står og mangler.

            Noter på UniNoter er kategoriseret indenfor følgende områder:
        </p>
        <ul>
            <li>Uddannelsesinstitution</li>
            <li>Fag</li>
            <li>Semester</li>
            <li>Kursus</li>
        </ul>
        <p>
            Derudover kan du på UniNoter finde læselister, oplæg, plancher mm. Samt gode råd om alt fra bøger til
            opgaver og eksamen.
        </p>

        <!-- Er noter på UniNoter af ordentlig kvalitet? -->
        <p><strong>Er noter på UniNoter af ordentlig kvalitet?</strong></p>
        <p>
            Noter er personlige. Vi noterer det, der er vigtigt for os. Nogle skriver ALT ned, mens andre alene skriver
            resultater, sammenhænge, logikker mv. ned. Altså er oplevelsen af kvalitet – både som afsender og modtager –
            individuel.
        </p>

        <p>
            På UniNoter er det muligt at rate en note via personlige kommentarer og stjerner. Én stjerne betyder, at
            noten er oplevet som ”dårlig”, mens fem stjerner betyder, at noten er oplevet som ”fremragende”. Du kan
            bruge andres ratings som en forhåndsvurdering af noten.
        </p>

        <p>
            For at ratings bliver givende brugbare, skal vi alle bidrage. Sådan er det jo med fællesskaber i al
            almindelighed. Vi vil derfor opfordre dig til at rate de noter, du har brugt ved brug af stjerner og en
            personlig kommentar.
        </p>

        <p>
            Hvis der skulle være noter, som du vurderer, er misvisende, forkerte eller ulovlige, så send os endelig en
            besked via ”feedback-knappen” under den aktuelle note.
        </p>


        <!-- Behind the UniNoter.com -->
        <p><strong>Bag om UniNoter</strong></p>
        <p>
            UniNoter er stiftet og udviklet af Shakib Ba-Ali. Shakib er medicinstuderende på Københavns Universitet.
            Du kan kontakte Shakib på telefon nummer 50314031 eller e-mail:
            <a class="a-link" href="mailto:info@uninoter.com">info@uninoter.com</a>.
        </p>

        <!-- Can’t find your education at Uninoter.com? -->
        <p><strong>Mangler din uddannelse?</strong></p>
        <p>
            Er din uddannelse ikke repræsenteret? Så send os en mail, så sørger vi for, at den bliver tilføjet. Som
            udgangspunkt er vi åbne overfor alle godkendte uddannelser.
        </p>

        <!-- Data privacy and security -->
        <p><strong>Datasikkerhed </strong></p>
        <p>
            UniNoter behandler dine personoplysninger i overensstemmelse med gældende lovgivning, herunder den generelle
            databeskyttelsesforordning (GDPR).

            Når du tilmelder dig via Facebook eller G-mail, bliver du viderestillet via en krypteret sikker forbindelse
            til UniNoter.

            UniNoter har således ikke adgang til dine privatoplysninger, uderover dem der fremgår på din profilside.
        </p>
        <p>&nbsp;</p>
    </div>
</div>