<div class="main-wrapper">
    <nav class="p-0 sidebar admin-sidebar content-left">
        <div class="sidebar-sticky">
            <ul class="nav1">
                <li><a href="javascript:void(0);" routerLink="/client" routerLinkActive="active"
                        class="close-click-res" translate>Add Client</a></li>
                <li><a href="javascript:void(0);" routerLink="/client-list" routerLinkActive="active"
                        class="close-click-res" translate>Client</a></li>
            </ul>
        </div>
    </nav>
    <main role="main" class="content-right">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </main>
    <div class="overlay-box"></div>
</div>
<!-- <router-outlet></router-outlet> -->