<div class="py-2">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <span class="anchor" id="formLogin"></span>
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0 admin-heading">PageHeader.Institution</h3>
          <div class="admin-action">
            <button class="btn text-white">Institution.AddInstitution
              <i class="fa fa-plus"></i></button>
            <button class="btn btn-success text-white">Common.Save
              <i class="fa fa-floppy-o"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>