.country-DK {background: url('../assets/images/danish-flag.jpg') no-repeat; width: 24px; height: 15px; float: left; margin:4px 8px 0 0; }
.country-EN {background: url('../assets/images/english-flag.jpg') no-repeat; width: 24px; height: 15px;float: left; margin:4px 8px 0 0; }
