<div class="aboutus-row">
    <div class="ab-common-row">
        <h3 style="width: 100%;">Become a member of UniNoter</h3>
        <span>- and enjoy easy and secure access to study notes from other students around the globe</span>
        <p></p>
        <p>
            UniNoter is a novel digital community, where students share study notes with each other – quick,
            easy and free. UniNoter is for all students across country and institutions and subjects. UniNoter
            is free and user-friendly.
        </p>
        <p class="mb-0">
            <i>
                What is the objective of UniNoter? It is simple! To help students passing their exams by offering a
                student-to-student knowledge-sharing platform, where students can upload or get access to highly
                ranked study notes.
            </i>
        </p>
        <p class="text-right">
            <i><b>Founder of UniNoter, Shakib Ba-Ali</b></i>
        </p>

        <!-- Is UniNoter something for you? -->
        <strong>Is UniNoter something for you?</strong>
        <p>
            Maybe? You are more than welcome to try it. UniNoter is an open forum, easy and free to join and even easier
            to cancel your membership.
        </p>
        <p>
            UniNoter is for you, who is tired of wasting hours on searching the internet for study notes. And after
            hours of searching you are ending with notes of poor quality.
        </p>
        <p>
            UniNoter is for you, who is learning by sharing your knowledge and experiences with others. You, who
            is curious about others work and who is not afraid of sharing your own works with others.
            UniNoter is for you, who missed one or several lectures or forgot to take notes during the lectures.
        </p>
        <p class="mb-0">
            <i>
                I am a medical student, with a limited professional network and not knowing senior students in order to
                get their study notes. I used plenty of hours to search for good study notes. Often it ended
                with mediocre quality notes. Finally, I become tired of searching for useless notes – I started to
                develop UniNoter. Because everyone deserves to have equal access to knowledge.
            </i>
        </p>
        <p class="text-right">
            <i><b> Founder of UniNoter, Shakib Ba-Ali</b></i>
        </p>

        <!-- Can I find study notes, which matches my needs?  -->
        <p><strong>Can I find study notes, which matches my needs? </strong></p>
        <p>
            At UniNoter you can share your own notes as well as getting access to high quality notes from other
            students – entirely free. Study notes at UniNoter are manually approved according copyright
            protection. The notes at UniNoter are classified according to the following categories, so you can easily
            find the notes you need:
        </p>
        <ul>
            <li>Institution name (e.g. University of Copenhagen)</li>
            <li>Faculty (e.g. Medicine)</li>
            <li>Semester (e.g. 5th semester)</li>
            <li>Subject (e.g. Pathology)</li>
            <li>Course name (e.g. ??)</li>
        </ul>
        <p>
            You can also find study curriculum, study guides, anatomy and physiology posters, previous examination
            papers and semester-specific book recommendations.
        </p>
        <p>
            At UniNoter it is possible to rank the notes by adding comments or giving stars: 1-star indicates
            poor quality while 5-stars marks high quality. You can utilize the ratings to guide you selecting the
            note you need.
        </p>
        <p>
            In order to improve the quality of the ratings we all should contribute with our own experiences. It
            is the essence of every community work to contribute on an individual basis. Therefor we are urging you
            to rate the notes you have read, either by adding comments or giving stars.
        </p>
        <p>
            If you find a study note, which is misleading or contain factually false information, do not
            hesitate to contact us by clicking at the “feedback” button under the actual note.
        </p>

        <!-- Behind the UniNoter.com -->
        <p><strong>Behind the UniNoter.com</strong></p>
        <p>
            UniNoter is founded and developed by Shakib Ba-Ali. Shakib is medical student at the Faculty of Medicine,
            University of Copenhagen. You can contact Shakib Ba-Ali by dialing +4550314031 or e-mail:
            <a class="a-link" href="mailto:info@uninoter.com">info@uninoter.com</a>.
        </p>

        <!-- Can’t find your education at Uninoter.com? -->
        <p><strong>Can’t find your education at Uninoter.com?</strong></p>
        <p>
            Have we missed your education and institution at UniNoter.com? Please tip us about your education by
            sending us an e-mail, we promise to add your institution and study field promptly. At UniNoter we
            are keen to be inclusive and are open to all approved educations.
        </p>

        <!-- Data privacy and security -->
        <p><strong>Data privacy and security </strong></p>
        <p>UniNoter manages your personal data according to the current EU data protection law including The
            General Data Protection Regulation (GDPR). When you register by your Facebook account or G-mail will you
            directed to UniNoter though an encrypted and secure connection to UniNoter. UniNoter has only access to the
            information you have provided in your profile.
        </p>
        <p>&nbsp;</p>
    </div>
</div>