<div class="close-container" [mat-dialog-close]>
    <div class="leftright"></div>
    <div class="rightleft"></div>
</div>
<h4 class="uni-header" translate>Note.Monitoring
    <span *ngIf="userSubjectInterestList"> : {{userSubjectInterestList.length}}</span>
</h4>
<!-- <h2 mat-dialog-title translate>Note.Monitoring
</h2> -->
<mat-dialog-content>
    <span class="anchor" id="formLogin"></span>
    <div class="card rounded-0">
        <div class="table-responsive" *ngIf="userSubjectInterestList!=null">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="hand" (click)="sort('InstitutionName')">
                            <span class="sorting-column" translate>
                                PageHeader.Institution
                                <span class="fa sorting-angle" *ngIf="key =='InstitutionName'"
                                    [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></span>
                            </span>
                        </th>
                        <th class="hand" (click)="sort('StudyName')">
                            <span class="sorting-column" translate>
                                PageHeader.Study
                                <span class="fa sorting-angle" *ngIf="key =='StudyName'"
                                    [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></span>
                            </span>
                        </th>
                        <th class="hand semesterno-width text-center" (click)="sort('SemesterName')">
                            <span class="sorting-column" translate>
                                Study.Period
                                <span class="fa sorting-angle" *ngIf="key =='SemesterName'"
                                    [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></span>
                            </span>
                        </th>
                        <th class="hand" (click)="sort('SubjectName')">
                            <span class="sorting-column" translate>
                                PageHeader.Subject
                                <span class="fa sorting-angle" *ngIf="key =='SubjectName'"
                                    [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></span>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userSubjectInterestList | orderBy: key : reverse | paginate: config ;index as i;"
                        [ngClass]="{'alt_row': i%2!==0}">
                        <td>{{user.InstitutionName}}</td>
                        <td>{{user.StudyName}}</td>
                        <td class="text-center">{{user.SemesterName}}</td>
                        <td>{{user.SubjectName}}</td>
                        <td class="text-center">
                            <i class="fa fa-trash fa-lg hand remove-icon" (click)="DeleteConfirmDialog(user)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
            <div class="text-center">
                <pagination-controls (pageChange)="pageChanged($event)"
                    [previousLabel]="userService.labels.previousLabel | translate"
                    [nextLabel]="userService.labels.nextLabel | translate"></pagination-controls>
            </div>
        </div>
    </div>
</mat-dialog-content>