<div class="py-2">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0 admin-heading">My Clients</h3>
                    <div class="admin-action">
                        <button class="btn text-white" (click)="AddEditClient(0)">Add Client
                            <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="clientList!=null">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="hand" (click)="sort('ClientName')">
                                    <span class="sorting-column" translate>
                                        Client Name
                                        <i class="fa sorting-angle" *ngIf="key =='ClientName'"
                                            [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></i>
                                    </span>
                                </th>
                                <th class="hand firstname-width" (click)="sort('ClientCode')">
                                    <span class="sorting-column" translate>
                                        Client Code
                                        <i class="fa sorting-angle" *ngIf="key =='ClientCode'"
                                            [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></i>
                                    </span>
                                </th>
                                <th class="hand firstname-width" (click)="sort('UpdatedOn')">
                                    <span class="sorting-column" translate>
                                        Last Updated
                                        <i class="fa sorting-angle" *ngIf="key =='UpdatedOn'"
                                            [ngClass]="{'fa-angle-down':reverse,'fa-angle-up':!reverse}"></i>
                                    </span>
                                </th>
                                <th class="text-center single-width"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clientList | orderBy: key : reverse | paginate: config ;index as i;"
                                [ngClass]="{'alt_row': i%2!==0}">
                                <td class="hand" (click)="SelectClient(client)">{{client.ClientName}}</td>
                                <td class="hand" (click)="SelectClient(client)">{{client.ClientCode}}</td>
                                <td>{{client.UpdatedOn | customDate}}</td>
                                <td class="text-center"><a href="javascript:void(0)"
                                        (click)="AddEditClient(client.ClientId)">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clear"></div>
                    <div class="text-center">
                        <pagination-controls id="paginationUserList" (pageChange)="pageChanged($event)"
                            [previousLabel]="Previous" [nextLabel]="Next"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 
<table style="width: 100%;">
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
</table> -->