<h4 class="display-6" translate>Reset Password</h4>
<hr>
<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Common.Password</label>
            <input type="password" class="form-control" formControlName="Password" maxlength="50">
            <label class="text-danger" *ngIf="f.Password.touched && f.Password.errors?.required"
                translate>Common.RequiredField</label>
            <label class="text-danger" *ngIf="f.Password.touched && f.Password.errors?.pattern" translate>
                Messages.ErrorPasswordLength</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Common.RepeatPassword</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" maxlength="50">
            <label class="text-danger" *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors?.required"
                translate>Common.RequiredField</label>
            <label class="text-danger" *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors?.passwordMismatch"
                translate>Repeat password does not match</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6.offset-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid"
                translate>Common.Save</button>
        </div>
    </div>
</form>