<div class="close-container" [mat-dialog-close]>
    <div class="leftright"></div>
    <div class="rightleft"></div>
</div>
<h4 class="uni-header" translate>PageHeader.User</h4>
<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="onSubmit()" class="admin-form-content">
    <div class="form-row">
        <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Users.FirstName</label>
            <input class="form-control" formControlName="FirstName" maxlength="100">
            <label class="text-danger" *ngIf="f.FirstName.touched && f.FirstName.errors?.required"
                translate>Common.RequiredField</label>
        </div>
        <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Users.LastName</label>
            <input class="form-control" formControlName="LastName" maxlength="100">
            <label class="text-danger" *ngIf="f.LastName.touched && f.LastName.errors?.required"
                translate>Common.RequiredField</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 required">
            <label class="col-form-label" translate>Users.Initials</label>
            <!-- <input class="form-control" formControlName="Initials" maxlength="3"> -->
            <input type="text" readonly class="form-control-plaintext" formControlName="Initials">
            <label class="text-danger" *ngIf="f.Initials.touched && f.Initials.errors?.required"
                translate>Common.RequiredField</label>
        </div>
        <div class="form-group col-md-4">
            <label class="col-form-label" translate>Common.Language</label>
            <select formControlName="LanguageId" class="form-control">
                <!-- <option value="">Select Language</option> -->
                <option *ngFor='let lang of languageList' [value]="lang.LanguageId" translate>
                    Common.{{lang.LanguageName}}</option>
            </select>
        </div>
        <!-- <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Users.MobilePhone</label>
            <input class="form-control" formControlName="Mobile" maxlength="50">
            <label class="text-danger" *ngIf="f.Mobile.touched && f.Mobile.errors?.required"
                translate>Common.RequiredField</label>
        </div> -->
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Users.EmailAddress</label>
            <input class="form-control" formControlName="Email" maxlength="50">
            <label class="text-danger" *ngIf="f.Email.touched && f.Email.errors?.required"
                translate>Common.RequiredField</label>
        </div>
        <div class="form-group col-md-6" [ngClass]="this.data.UserId==0 ? 'required' :''">
            <label class="col-form-label" translate>Common.UserName</label>
            <input class="form-control" formControlName="UserName" maxlength="50" *ngIf="this.data.UserId==0">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" formControlName="UserName"
                *ngIf="this.data.UserId!=0">
            <label class="text-danger" *ngIf="f.UserName.touched && f.UserName.errors?.required"
                translate>Common.RequiredField</label>
            <label class="text-danger" *ngIf="f.UserName.touched && f.UserName.errors?.userNameExists"
                translate>Common.UserNameExist</label>
        </div>
    </div>
    <div class="form-row" *ngIf="data.UserId !=0">
        <div class="form-group col-md-6">
            <label class="col-form-label" translate>Common.Password</label>
            <input type="password" class="form-control" formControlName="Password" maxlength="50"
                onfocus="this.removeAttribute('readonly');" readonly>
            <label class="text-danger" *ngIf="f.Password.touched && f.Password.errors?.required"
                translate>Common.RequiredField</label>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" translate>Common.RepeatPassword</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" maxlength="50"
                onfocus="this.removeAttribute('readonly');" readonly>
            <label class="text-danger" *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors?.required"
                translate>Common.RequiredField</label>
            <label class="text-danger" *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors?.passwordMismatch"
                translate>Repeat password does not match</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="IsAdmin" formControlName="IsAdmin">
                <label class="form-check-label" for="IsAdmin">Is Admin</label>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="SendNotification"
                    formControlName="SendNotification">
                <label class="form-check-label" for="SendNotification">Send Notification</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6.offset-md-2">
            <div class="admin-action flt">
                <button type="submit" class="btn" [disabled]="registerForm.invalid" translate>Common.Save
                    <i class="fa fa-floppy-o"></i></button>
                <button type="button" class="btn btn-secondary" [mat-dialog-close] translate>Common.Close
                    <i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
</form>