<div class="close-container" [mat-dialog-close]>
    <div class="leftright"></div>
    <div class="rightleft"></div>
</div>
<!-- <iframe src="https://uninoter.salesoptimizer.eu/api/UploadedFiles/10013/10063.pdf" width="800" height="600"></iframe> -->
<!-- <h1>{{filePath}}</h1> -->
<!-- <div class="jumbotron" style="background-color: #ffffff;">
    <h1 class="display-4 text-center" translate>PageHeader.AboutUs</h1>
</div> -->
<div #myDiv>
    <iframe #iframe [src]="localsrcPath | safe" width='100%' height='800px' frameborder='0'></iframe>
</div>
<!-- <h1>{{srcPath}}</h1> -->
<!-- <iframe [src]='photoURL()' width='100%' height='1200px' frameborder='0'>This is an embedded <a target='_blank'
        href='http://office.com'>Microsoft
        Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>
        Office Online</a>.
</iframe> -->
<!-- <iframe [src]='{{srcPath}}' width="1640" height="1360" frameborder="0">
</iframe> -->
<!-- <ifrmae [src]="variable_name"></ifrmae> -->