<div class="mynotes-edit">
    <h3 class="mb-0 admin-heading" translate>Common.ForgotPassword</h3>
</div>
<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6 required">
            <label class="col-form-label" translate>Common.UserName</label>
            <input class="form-control" formControlName="UserName" maxlength="50">
            <label class="text-danger" *ngIf="f.UserName.touched && f.UserName.errors?.required"
                translate>Common.RequiredField</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6.offset-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid"
                translate>Common.SendNewPassword</button>
            <button type="button" class="btn btn btn-secondary ml-1" routerLink="/login"
                translate>Common.Cancel</button>
        </div>
    </div>
</form>